.portfolio-page {
  padding-right: 50px;
  padding-left: 100px;
  width: calc(100% - 150px);
  height: 100%;
  overflow: auto !important;

  h1.page-title {
    margin-left: 100px;
    margin-top: 50px;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
  }

  .image-box {
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    max-width: calc(25% - 10px);

    .portfolio-image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      width: 100%;
      z-index: 3;
      padding: 10px 20px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 1)
      );
      bottom: -100px;
    }

    .name {
      margin-bottom: 0;
      margin-top: 0;
      color: #26c9ff;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
    }

    .desc {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #fff;
    }

    .btn {
      margin: 30px 10px;
      padding: 0 25px;
      height: 40px;
      line-height: 34px;
      border: 2px solid #26c9ff;
      border-radius: 5px;
      font-size: 18px;
      color: #fff;
      background: transparent;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .btn:hover {
      transform: scaleY(1.2);
      background: #26c9ff;
    }

    &::after {
      content: '';
      background: linear-gradient(180deg, #26c9ff, #000);
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.85;
    }

    &:hover .content {
      bottom: 0;
      background: transparent;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container.portfolio-page {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    h1.page-title {
      margin-left: 20px;
      margin-top: 20px;
    }

    .image-box {
      flex: 1 1 50%;
      height: 300px;
      max-width: calc(50% - 20px);

      .portfolio-image {
        object-fit: cover;
      }

      .name {
        font-size: 20px 0;
      }
  
      .btn {
        margin: 20px 5px;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 600;
      }
  
      .btn-container {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
      }

      .content {
        padding-left: 5px;
      }
    }
  }
}
